Exercise: Answer the questions and complete the tasks

In [ ]:
# What is 7 power of 4 ?
7**4

2401

In [ ]:
# Split the string "Hi there Yogesh !"
s = 'Hi there Yogesh!'
s.split()

['Hi', 'there', 'Yogesh!']

In [ ]:
# ** Given the variables:**

# planet = "Earth" diameter = 12742

# ** Use .format() to print the following string: **

# The diameter of Earth is 12742 kilometers.

planet = "Earth"
diameter = 12742

print("the diameter of {} is {} kilometers".format(planet, diameter))

the diameter of Earth is 12742 kilometers

In [ ]:
# ** Given this nested list, use indexing to grab the word "hello" **
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

lst[3][1][2]

['hello']

In [ ]:
# Tuples are "Immutable" and list is "Mutable"

 Create a function that grabs the email website domain from a string in the form:

user@domain.com
So for example, passing "user@domain.com" would return: domain.com
s = "user@domain.com"

In [ ]:

def get_domain(s):
  return s.split('@')[1]
get_domain("user@domain.com")

'domain.com'

In [ ]:
# Print 'hello'
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

d['k1'][3]['tricky'][3]['target'][3]

'hello'

Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.

In [ ]:

def find_dog():
  str = 'Is there any dog in the dog house'
  str.upper()
  if 'DOG' in str:
    return True
  else :
    return False
find_dog()

False

In [ ]:
# Count "dog" in the string


def count_dog(string):
    count = 0
    words = string.split()
    for word in words:
        if word.lower() == "dog":
            count += 1
    return count
d = "I have a dog who is very beautiful. My friend has a DOG named lucy. Dog are very active, loving and caring."
print(count_dog(d))

3

 Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:

In [ ]:

seq = ['soup','dog','salad','cat','great']
# should be filtered down to:['soup','salad']
list(filter(lambda x:x[0]!='s',seq))

['dog', 'cat', 'great']

You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.

In [7]:

def get_ticket_result(speed, birthday):
    if birthday:
      new_speed = speed - 5  # Adjust speed limit by 5 mph if it's your birthday

    if speed <= 60:
        return "No Ticket"
    elif 61 <= speed <= 80:
        return "Small Ticket"
    else:
        return "Big Ticket"

get_ticket_result(85, True)

'Big Ticket'

Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678

In [15]:
s=input("Enter the input:")
num=""
data=[0,1,2,3,4,5,6,7,8,9]
if s[0]=="-":
    num=num+s[0]
for c in s:
    if c in str(data):
        num=num+c
print(num)

Enter the input:-123abc
-123

WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

In [17]:
n1=input("Enter the Number:")
n2=int(n1[::-1])
n3=str(int(n1)+n2)
while n3!=n3[::-1]:
    n3=str(int(n3)+int(n3[::-1]))
    print("Number is :",n3)
    print("Revrse is :",n3[::-1])
print("palindrome is :",n3)

Enter the Number:123
palindrome is : 444

Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

In [19]:
def fun1():
    for a in range(0,10):
        b=a-2
        c=b-2
        d=c-2
        if c+d+c==a and a+b+c+d+c==19:
            print(str(a)+str(b)+str(c)+str(d)+str(c))
fun1()

75313